
<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Create new film</div>
            <div class="panel-body">
                <form v-on:submit="saveForm()" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Film name</label>
                            <input type="text" v-model="film.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Film description</label>
                            <input type="text" v-model="film.description" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Release date</label>
                            <input type="text" v-model="film.release_date" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Rating</label>
                            <select v-model="film.rating" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Ticket Price</label>
                            <input type="text" v-model="film.ticket_price" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Country</label>
                            <select v-model="film.country_id" class="form-control">
                                <option v-for="country in countries" :value="country.id">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Genre</label>
                            <select v-model="film.genre_id" class="form-control">
                                <option v-for="genre in genres" :value="genre.id">{{ genre.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Photo</label>
                            <input type="file" v-on:change="onFileChange" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                film: {
                    name: '',
                    description: '',
                    release_date: '',
                    rating: '',
                    ticket_price: '',
                    country_id: '',
                    genre_id: '',
                    photo: ''
                },
                countries: [],
                genres: [],
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/countries')
                .then(function (resp) {
                    app.countries = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load films");
                });
            axios.get('/api/v1/genres')
                .then(function (resp) {
                    app.genres = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load films");
                });
        },
        methods: {
            saveForm() {
                var app = this;
                var newFilm = app.film;
                console.log(newFilm);
                axios.post('/api/v1/films', newFilm)
                    .then(function (resp) {
                        app.$router.push({path: '/'});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your film");
                    });
            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let app = this;
                reader.onload = (e) => {
                    app.film.photo = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }
    }
</script>
